<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/main.css">
		<!-- jQuery -->
		<script src="/js/jquery/jquery.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="/js/bootstrap/bootstrap.min.js"></script>

    </head>

    <body>
		{{ content }}
    </body>
</html>